#!/usr/bin/make -f

%:
	dh $@

# I add a symlink that the build uses to find their headers
# And if we have a ROS_DISTRO, use the OSRF-packaged ROS
override_dh_auto_build:
	cd multisense_lib/sensor_api/source/LibMultiSense/include && ln -fs MultiSense multisense_lib
	$(if $(ROS_DISTRO),. /opt/ros/$(ROS_DISTRO)/setup.sh; )dh_auto_build


